*{margin:0;padding:0;}
body{background-image: url(img/bg.jpg);}
.text{text-align:center;color: white;font-size: xx-large;}
main{display: flex;margin-right: 100px;}
section{display: flex;flex-grow: 4;flex-wrap: wrap;justify-content: space-around;}
.catalog{background-color: rgb(250, 250, 227);}
.catalog img{width:170px;border-radius: 20px;}
.catalog{margin: 10px;border: 2px solid #000;border-radius: 20px;flex-basis:170px;height: 262px;}
.price{text-align: center;border: 2px solid #000;border-radius: 20px;font-size: x-large;padding: 30px;}
.fa-shopping-basket,.fa-bookmark,.fa-user-circle,.fa-shopping-basket{font-size: 25px;padding: 10px;color: white;} 
.fa-home{font-size: 30px;line-height: 10px;color: white;}
nav{text-align: right;text-align: center;position: fixed; top: 7px;right: 19px;}
nav a{color:rgb(255, 255, 255);text-decoration: none;}