*{margin:0;padding:0;}
header{background-color: rgb(24, 23, 23);flex-grow: 1;}
main{background-color: rgb(53, 235, 53);flex-grow: 3;display: flex;}
footer{background-color:rgb(24, 23, 23) ;flex-grow: 1;}
body{display: flex;flex-direction: column;min-height: 100vh;}
aside{background-color:rgb(53, 235, 53);width: 500px;}
section{display: flex;background-color: rgb(53, 235, 53);flex-grow: 4;flex-wrap: wrap;justify-content: space-around;}
.catalog{background-color: rgb(250, 250, 227);}
.catalog img{width:170px;border-radius: 20px;}
.catalog{margin: 10px;border: 2px solid #000;border-radius: 20px;flex-basis:170px;height: 262px;}
.price{text-align: center;border: 2px solid #000;border-radius: 20px;font-size: x-large;padding: 30px;}
aside{text-align: center;border: 2px solid #000;border-radius: 20px;text-align: center;font-size:x-large;
background-color: rgb(250, 250, 227);}
.title{border: 2px solid #000;border-radius: 20px;padding: 35px;}
.logo{float: left;}
.logo img{border-radius: 360px;}
nav{text-align: right;color:rgb(255, 255, 255);}