*{margin:0;padding:0;}
main{display: flex;background-image: url(img/фон.jpg);background-size: cover;}
footer{background-color:rgb(24, 23, 23) ;flex-grow: 2;display: flex;}
body{display: flex;flex-direction: column;min-height: 100vh;}
nav{text-align: center;position: fixed;top: 7px;right: 19px;}
nav a{color:rgb(255, 255, 255);text-decoration: none;}
.left{background-color: rgb(250, 254, 255);border: 2px solid #000 ;border-radius: 15px;padding: 40px;position: relative;}
.left img{border: 2px ;border-radius: 20px;}
.name{text-align: center;font-size: x-large;position: relative;}
.fa-times{position: absolute;  left:0;top:0;color: #000;}
.left .fa-bookmark{position:absolute; right:0;top:0;color: #000;} 
.fa{font-size: 25px;padding: 10px;} 
.right{margin: 50px;flex-basis:260px;}
.price{height: 200px;border: 2px solid #000;border-radius: 20px;position: relative;padding: 30px;
 background-color:rgb(255, 255, 255);text-align: center;font-size: xx-large;}
.description{color:rgb(255, 255, 255);padding: 10px;}
.footer-right{background-color: rgb(250, 254, 255);border: 2px solid #000;border-radius: 10px;margin: 10px;
height: 260px;flex-grow: 2;padding: 5px;}
.footer-left{flex-grow:1 ;}
.footer-below,.footer-top{background-color: rgb(250, 254, 255);border: 2px solid #000;border-radius: 10px;
height: 118px;margin: 10px;padding: 5px;}
.buy{background-color: rgb(58, 56, 56);color:rgb(255, 255, 255);border: 2px solid #000;border-radius: 10px;
padding: 15px;font-size: medium;position: absolute;bottom: 8px;left: 84px;}

